
@model EmlakOfisi.Models.ViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">

    <div style="width: 95%; font-size:x-large; text-align: center; border-bottom: 1px solid #e5e5e5; align-items: center !important; align-self: flex-end;">
        <div class="row" style="">

            <a>Emlak Yönetim Sayfası</a>
        </div>

    </div>
    <div style="width: 5%;">
        <div>
            <a href="~/Manage/ChangePassword">
                <div class="card-body py-1 px-1">
                    <div class="d-flex align-items-center">
                        <div class="ms-3 name">

                            <i class="bi bi-shield-lock" style="font-size:120%"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<section class="row">


    <div class="col-12" style="margin-top:2%">

        <div style="margin-bottom:5px">
            <div style="display: contents; ">
                <button type="button" id="AddProp" class="btn btn-primary" data-toggle="modal" data-target="#PropDetail" data-dismiss="modal">Ekle</button>
            </div>
            <div style=" display: contents;">
                <button type="submit" form="form0" class="btn btn-primary" data-toggle="modal" data-target="#PropDetail" data-dismiss="modal">Düzenle</button>
            </div>
            <div style=" display: contents;">

                <a href="#" id="DeleteRow" class="btn btn-primary">Sil</a>
            </div>

            @*@using (Html.BeginForm("GetProp", "Home", FormMethod.Post))
                {*@
            <div style="display: block; float: right;">
                <button type="button" id="AddProp" class="btn btn-primary" data-toggle="modal" data-target="#PropFilter" data-dismiss="modal"><i class="bi bi-search"> Filtrele</i></button>
            </div>
            @*<div class="input-group">
                    <input type="search" class="form-control" name="ara" value="" />
                    <div class="input-group-append">
                        <button class="btn btn-sm btn-primary" type="button">Ara</button>
                    </div>
                </div>*@
            @*}*@
        </div>

        @using (Ajax.BeginForm("EditProp", "Home", null, new AjaxOptions
        {
            HttpMethod = "Post",
            OnSuccess = "OnSuccess",
            OnFailure = "OnFailure",
            UpdateTargetId = "ModalDetail",
            InsertionMode = InsertionMode.Replace
        }))
        {

            @Html.Hidden("SelectedRow", null, new { Name = "Property.Id" })
            <table id="PropTable" class="display nowrap" style=" width: 100%;" cellspacing="0">
                <thead>
                    <tr>
                        <th style="background: #464dee; color:white; text-align: center; border-left:solid 1px #fff; font-size:14px;">
                            <a>Ücret</a>
                        </th>
                        <th style="background: #464dee; color:white; text-align: center; border-left:solid 1px #fff; font-size:14px;">
                            <a>Emlak Tipi</a>
                        </th>
                        <th style="background: #464dee; color:white; text-align: center; border-left:solid 1px #fff; font-size:14px;">
                            <a>m2 (Brüt)</a>
                        </th>
                        <th style="background: #464dee; color:white; text-align: center; border-left:solid 1px #fff; font-size:14px;">
                            <a>Oda Sayısı</a>
                        </th>
                        <th style="background: #464dee; color:white; text-align: center; border-left:solid 1px #fff; font-size:14px;">
                            <a>Bina Yaşı</a>
                        </th>
                        <th style="background: #464dee; color:white; text-align: center; border-left:solid 1px #fff; font-size:14px;">
                            <a>İlan Tarihi</a>
                        </th>
                        <th style="background: #464dee; color:white; text-align: center; border-left:solid 1px #fff; font-size:14px;">
                            <a>Ülke</a>
                        </th>
                        <th style="background: #464dee; color:white; text-align: center; border-left:solid 1px #fff; font-size:14px;">
                            <a>İl</a>
                        </th>
                        <th style="background: #464dee; color:white; text-align: center; border-left:solid 1px #fff; font-size:14px;">
                            <a>İlçe</a>
                        </th>
                        <th style="background: #464dee; color:white; text-align: center; border-left:solid 1px #fff; font-size:14px;">
                            <a>Durum</a>
                        </th>

                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.PropertyList)
                    {
                        <tr class="content_tr" data-count="" data-container="@item.Id">

                            <td style="padding: 0px 5px; font-size: 14px;">@item.Price</td>
                            <td style="padding: 0px 5px; font-size: 14px;">@item.Type</td>
                            <td style="padding: 0px 5px; font-size: 14px;">@item.HomeSize</td>
                            <td style="padding: 0px 5px; font-size: 14px;">@item.RoomRage</td>
                            <td style="padding: 0px 5px; font-size: 14px;">@item.HomeAge</td>
                            <td style="padding: 0px 5px; font-size: 14px;">@item.Date</td>
                            <td style="padding: 0px 5px; font-size: 14px;">@item.Adress.Country</td>
                            <td style="padding: 0px 5px; font-size: 14px;">@item.Adress.City</td>
                            <td style="padding: 0px 5px; font-size: 14px;">@item.Adress.County</td>
                            <td style="padding: 0px 5px; font-size: 14px;">

                                @if (item.State)
                                {
                                    <span class="badge badge-success">Yayında</span>

                                }
                                else
                                {
                                    <span class="badge badge-danger">Pasif</span>
                                }

                            </td>
                        </tr>

                    }


                </tbody>
            </table>

        }
    </div>
    @if (Model.User.Properties.Count() != 0)
    {
        <p>Emlak Sayısı: <strong>@Model.User.Properties.Count()</strong></p>
    }

    @using (Html.BeginForm("AddOrUpdate", "Home", FormMethod.Post))
    {
        <div class="modal fade" id="PropDetail" tabindex="-1" role="dialog" aria-labelledby="PropModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Emlak Detayı</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body" id="ModalDetail">

                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" id="PropInfo" href="#home" data-toggle="tab">
                                    Genel Bilgiler
                                </a>
                            </li>

                        </ul>
                        <div class="tab-content" style="border:none !important; padding:15px;" id="DetayModal">
                            <div id="home" class="tab-pane fade active show">
                                <div class="row">
                                    <div class="form-group col-11">
                                        <div class="col spandiv" style="border-radius: 10px 10px 0px 0px; padding-top: 5px;">
                                            @Html.LabelFor(model => model.Property.Type, htmlAttributes: new { style = "font-size:14px;margin:0px; color: darkblue; font-weight:bold;" })
                                        </div>
                                        @Html.TextBoxFor(x => x.Property.Type, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Property.Type, "", new { @class = "text-danger" })

                                    </div>
                                    <div class=" col-1">
                                        <div class="col spandiv" style="border-radius: 10px 10px 0px 0px; padding-top: 5px;">
                                            @Html.LabelFor(model => model.Property.State, htmlAttributes: new { style = "font-size:14px;margin:0px; color: darkblue; font-weight:bold;" })
                                        </div>
                                        @Html.CheckBoxFor(x => x.Property.State, htmlAttributes: new { Style = "margin-left: 63%;"})
                                        @Html.ValidationMessageFor(model => model.Property.State, "", new { @class = "text-danger" })

                                    </div>

                                </div>
                                <div class="row">
                                    <div class="form-group col">
                                        <div class="col spandiv" style="border-radius: 10px 10px 0px 0px; padding-top: 5px;">
                                            @Html.LabelFor(model => model.Property.Price, htmlAttributes: new { style = "font-size:14px;margin:0px; color: darkblue; font-weight:bold;" })
                                        </div>
                                        @Html.TextBoxFor(x => x.Property.Price, htmlAttributes: new { @class = "number form-control" })
                                        @Html.ValidationMessageFor(model => model.Property.Price, "", new { @class = "text-danger" })

                                    </div>
                                    <div class="form-group col">
                                        <div class="col spandiv" style="border-radius: 10px 10px 0px 0px; padding-top: 5px;">
                                            @Html.LabelFor(model => model.Property.RoomRage, htmlAttributes: new { style = "font-size:14px;margin:0px; color: darkblue; font-weight:bold;" })
                                        </div>
                                        @Html.TextBoxFor(x => x.Property.RoomRage, htmlAttributes: new { @class = "number form-control" })
                                        @Html.ValidationMessageFor(model => model.Property.RoomRage, "", new { @class = "text-danger" })

                                    </div>



                                </div>

                                <div class="row">
                                    <div class="form-group col">
                                        <div class="col spandiv" style="border-radius: 10px 10px 0px 0px; padding-top: 5px;">
                                            @Html.LabelFor(model => model.Property.HomeSize, htmlAttributes: new { style = "font-size:14px;margin:0px; color: darkblue; font-weight:bold;" })
                                        </div>
                                        @Html.TextBoxFor(x => x.Property.HomeSize, htmlAttributes: new { @class = "number form-control" })
                                        @Html.ValidationMessageFor(model => model.Property.HomeSize, "", new { @class = "text-danger" })

                                    </div>

                                    <div class="form-group col">
                                        <div class="col spandiv" style="border-radius: 10px 10px 0px 0px; padding-top: 5px;">
                                            @Html.LabelFor(model => model.Property.HomeAge, htmlAttributes: new { style = "font-size:14px;margin:0px; color: darkblue; font-weight:bold;" })
                                        </div>
                                        @Html.TextBoxFor(x => x.Property.HomeAge, htmlAttributes: new { @class = "number form-control" })
                                        @Html.ValidationMessageFor(model => model.Property.HomeAge, "", new { @class = "text-danger" })

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col">
                                        <div class="col spandiv" style="border-radius: 10px 10px 0px 0px; padding-top: 5px;">
                                            @Html.LabelFor(model => model.Property.Adress.Country, htmlAttributes: new { style = "font-size:14px;margin:0px; color: darkblue; font-weight:bold;" })
                                        </div>
                                        @Html.TextBoxFor(x => x.Property.Adress.Country, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Property.Adress.Country, "", new { @class = "text-danger" })

                                    </div>
                                    <div class="form-group col">
                                        <div class="col spandiv" style="border-radius: 10px 10px 0px 0px; padding-top: 5px;">
                                            @Html.LabelFor(model => model.Property.Adress.City, htmlAttributes: new { style = "font-size:14px;margin:0px; color: darkblue; font-weight:bold;" })
                                        </div>
                                        @Html.TextBoxFor(x => x.Property.Adress.City, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Property.Adress.City, "", new { @class = "text-danger" })

                                    </div>
                                    <div class="form-group col">
                                        <div class="col spandiv" style="border-radius: 10px 10px 0px 0px; padding-top: 5px;">
                                            @Html.LabelFor(model => model.Property.Adress.County, htmlAttributes: new { style = "font-size:14px;margin:0px; color: darkblue; font-weight:bold;" })
                                        </div>
                                        @Html.TextBoxFor(x => x.Property.Adress.County, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Property.Adress.County, "", new { @class = "text-danger" })

                                    </div>

                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Kaydet</button>
                    </div>
                </div>
            </div>
        </div>
    }

    @using (Html.BeginForm("GetProp", "Home", FormMethod.Post))
    {
        <div class="modal fade" id="PropFilter" tabindex="-1" role="dialog" aria-labelledby="PropModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Emlak Detayı</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body" id="ModalDetail">

                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" id="PropInfo" href="#home" data-toggle="tab">
                                    Genel Bilgiler
                                </a>
                            </li>


                        </ul>
                        <div class="tab-content" style="border:none !important; padding:15px;" id="DetayModal">
                            <div id="home" class="tab-pane fade active show">
                                <div class="row">
                                    <div class="form-group col">
                                        <div class="col spandiv" style="border-radius: 10px 10px 0px 0px; padding-top: 5px;">
                                            @Html.LabelFor(model => model.Property.Type, htmlAttributes: new { style = "font-size:14px;margin:0px; color: darkblue; font-weight:bold;" })

                                        </div>
                                        <select multiple class="js-example-basic-single w-100" name="TypeList">
                                            @foreach (var item in Model.User.Properties.Select(x => x.Type).Distinct())
                                            {

                                                <option value="@item">@item</option>
                                            }
                                        </select>
                                    </div>

                                </div>
                                <div class="row">

                                    <div class="col spandiv" style="border-radius: 10px 10px 0px 0px; padding-top: 5px;">
                                        @Html.Label("Fiyat", htmlAttributes: new { style = "font-size:14px;margin:0px; color: darkblue; font-weight:bold;" })
                                    </div>
                                    <div class="row">
                                        <div class="form-group col">

                                            @Html.TextBox("MinPrice", null, htmlAttributes: new { @class = "form-control", Type = "number", placeholder = "Min Tl" })


                                        </div>
                                        -
                                        <div class="form-group col">
                                            @Html.TextBox("MaxPrice", null, htmlAttributes: new { @class = "form-control ", Type = "number", placeholder = "Max Tl" })


                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col spandiv" style="border-radius: 10px 10px 0px 0px; padding-top: 5px;">
                                        @Html.Label("m2 (Brüt)", htmlAttributes: new { style = "font-size:14px;margin:0px; color: darkblue; font-weight:bold;" })
                                    </div>
                                    <div class="row">
                                        <div class="form-group col">

                                            @Html.TextBox("MinSize", null, htmlAttributes: new { @class = "form-control", Type = "number", placeholder = "Min m2" })


                                        </div>
                                        -
                                        <div class="form-group col">
                                            @Html.TextBox("MaxSize", null, htmlAttributes: new { @class = "form-control ", Type = "number", placeholder = "Max m2" })


                                        </div>

                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col spandiv" style="border-radius: 10px 10px 0px 0px; padding-top: 5px;">
                                        @Html.Label("Oda Sayısı", htmlAttributes: new { style = "font-size:14px;margin:0px; color: darkblue; font-weight:bold;" })
                                    </div>
                                    <div class="row">
                                        <div class="form-group col">

                                            @Html.TextBox("MinRoomRage", null, htmlAttributes: new { @class = "form-control", Type = "number", placeholder = "Min Oda Sayısı" })


                                        </div>
                                        -
                                        <div class="form-group col">
                                            @Html.TextBox("MaxRoomRage", null, htmlAttributes: new { @class = "form-control ", Type = "number", placeholder = "Max Oda Sayısı" })


                                        </div>

                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col spandiv" style="border-radius: 10px 10px 0px 0px; padding-top: 5px;">
                                        @Html.Label("Bina Yaşı", htmlAttributes: new { style = "font-size:14px;margin:0px; color: darkblue; font-weight:bold;" })
                                    </div>
                                    <div class="row">
                                        <div class="form-group col">

                                            @Html.TextBox("MinAge", null, htmlAttributes: new { @class = "form-control", Type = "number", placeholder = "Min Bina Yaşı" })


                                        </div>
                                        -
                                        <div class="form-group col">
                                            @Html.TextBox("MaxAge", null, htmlAttributes: new { @class = "form-control ", Type = "number", placeholder = "Max Bina Yaşı" })


                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col spandiv" style="border-radius: 10px 10px 0px 0px; padding-top: 5px;">
                                        @Html.Label("İlan Tarihi", htmlAttributes: new { style = "font-size:14px;margin:0px; color: darkblue; font-weight:bold;" })
                                    </div>
                                    <div class="row">
                                        <div class="form-group col">

                                            @Html.TextBox("MinDate", null, htmlAttributes: new { @class = "form-control", Type = "datetime-local", placeholder = "Min İlan Tarihi" })


                                        </div>

                                        -
                                        <div class="form-group col">
                                            @Html.TextBox("MaxDate", null, htmlAttributes: new { @class = "form-control ", Type = "datetime-local", placeholder = "Max İlan Tarihi" })


                                        </div>
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="form-group col">
                                        <div class="col spandiv" style="border-radius: 10px 10px 0px 0px; padding-top: 5px;">
                                            @Html.LabelFor(model => model.Property.Adress.Country, htmlAttributes: new { style = "font-size:14px;margin:0px; color: darkblue; font-weight:bold;" })

                                        </div>
                                        <select multiple class="js-example-basic-single w-100" name="CountryList">
                                            @foreach (var item in Model.User.Properties.Select(x => x.Adress.Country).Distinct())
                                            {

                                                <option value="@item">@item</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group col">
                                        <div class="col spandiv" style="border-radius: 10px 10px 0px 0px; padding-top: 5px;">
                                            @Html.LabelFor(model => model.Property.Adress.City, htmlAttributes: new { style = "font-size:14px;margin:0px; color: darkblue; font-weight:bold;" })

                                        </div>
                                        <select multiple class="js-example-basic-single w-100" name="CityList">
                                            @foreach (var item in Model.User.Properties.Select(x => x.Adress.City).Distinct())
                                            {

                                                <option value="@item">@item</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group col">
                                        <div class="col spandiv" style="border-radius: 10px 10px 0px 0px; padding-top: 5px;">
                                            @Html.LabelFor(model => model.Property.Adress.County, htmlAttributes: new { style = "font-size:14px;margin:0px; color: darkblue; font-weight:bold;" })

                                        </div>
                                        <select multiple class="js-example-basic-single w-100" name="CountyList">
                                            @foreach (var item in Model.User.Properties.Select(x => x.Adress.County).Distinct())
                                            {

                                                <option value="@item">@item</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Filtrele</button>
                    </div>
                </div>
            </div>
        </div>
    }
</section>


<script>
    $('#AddProp').on('click', function () {
        $("#DetayModal input").each(function () {
            $(this).val("");
        });

    });
</script>

